<h1>Ashleigh R.M. Anderson</h1>
<h2>Senior</h2>
<h3>Computer Information Systems</h3>
<p>Hello there! I am 23 year old San Diegan native completing her undergraduate degree in Washington, DC. I have been living in the city now for almost six years, and feel bittersweet that my time here may be coming to an end. I am anticipating graduation in May of this year. Who knows where I'll be in this time next year!</p>
<p2>In addition to school, I am currently employed as a contracted consultant for Teranova Consulting Group. I have enjoyed working in the mobile solutions industry for the last 3 years and am considering sticking with it. But in this field, opportunities are endless and it will be challenging to take on a new industry! I am also interested in the following:</p2>
<p3>I've earned my education at the following schools</p3>
